body {
    padding-top: 80px !important;
}

header {
    z-index: 1030;
    background-color: rgb(17, 42, 99);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2) !important;
    height: 80px !important;
}

#logo {
    margin-left: 20px !important;
    position: relative; 
    z-index: 2;
}

#botoesheader {
    margin-left: 20px !important;
}

#carrosel {
    max-width: 950px;
    margin: 0 auto;
    height: 400px;
    object-fit: cover;
}

.quemsomos {
    margin-top: 350px !important;
}